/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/Logs/
/UserSettings/

/yarn-error.log
/node_modules

/Assets/vendor/*
!/Assets/vendor/validate.rb
vendor.zip

*.pdb

/ProjectSettings/EditorBuildSettings.asset
/environments/current
