/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/Logs/
/UserSettings/

/yarn-error.log
/node_modules

/Assets/vendor/*/
vendor.zip

/Percy/*.png

*.pdb
/tests.xml

/Assets/InitTestScene*

/Assets/Plugins/FMOD/*
/Assets/StreamingAssets*
/FMOD/.*
fmod_editor.log
